.App {
  text-align: center;
}



 .Tile {
 	width: 75px;
 	height: 75px;
 	border: 1px solid #000;
 	background-color: #ccc;
 }

.Door {

}


 .active {
 	border: 3px solid #FFFC00 !important;
 }

/*.floor {
 	background-image: url(../img/brick-wall.png);
 	background-size: 75px;
 }

.stairs {
 	background-image: url(../img/stairs.png);
 	background-size: 75px;
 }

.door {
 	background-image: url(../img/door.png);
  	background-size: 75px;
 }

  .gloop {
 	background-image: url(../img/gloop.png);
 	background-size: 75px;
 }

   .spiky-pit {
 	background-image: url(../img/spiky-pit.png);
 	background-size: 75px;
 }

.entry {
 	background-image: url(../img/entry.png);
  	background-size: 75px;
 }

.exit {
 	background-image: url(../img/exit.png);
  	background-size: 75px;
 }*/

.Door {
 	background-image: url(../img/door.png);
  	background-size: 75px;
 	z-index: 5;
	width: 75px;
	height: 75px;
 }

.Door.left {
	transform: rotate(-0.25turn);
    left: -38px;
    top: -93px;
	position: relative;
}
.Door.right {
	transform: rotate(0.25turn);
	left: 38px;
    top: -93px;
	position: relative;
}

.Door.bottom {
	transform: rotate(-0.5turn);
	top: 20px;
	position: relative;
}
.Door.top {
	top: -56px;
	position: relative;
}

.characters {
	background-size: 75px;
 	border: 1px solid #000;
 	background-color: #ccc;
 	height: 75px;
 	width: 75px;
}

