.CreateParty {
	margin: 15px;
}

.CreateParty.inset {
  width: 60% !important;
}


.Lists .list {
    width: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 115px;
}

.listItem {
  display: block;
  float: none;
  min-height: 60px;
}

.AvailableGear {
  width: 1210px !important;
  float:none;
  background: #FCFCFC !important;
}

.AvailableGear .button {
  margin: 0px 10px;
}

.coinPurse, .inventoryWeight, .carryingCapacity {
  float: left;
}

.coinPurse .value, .inventoryWeight .value, .carryingCapacity .value {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.coinPurse .shortField, .inventoryWeight .shortField {
  width: 65px !important;
  margin-top: -15px;
  float: right;
}