.EntityForm {
	margin: 15px;
}

.inset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background-color: #FCFCFC;
    width: 50%;
}

.shortField {
	width: 100px !important;
}

.AbilityList {
    display: flex;
    width: 840px;
    flex-wrap: wrap;
}

.AbilityList .Ability{
	display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    width: 250px !important;
    margin-right: 30px;
}

.Ability.strength {
	order: 1;
}
.Ability.dexterity {
	order: 2;
}
.Ability.wisdom {
	order: 3;
}
.Ability.constitution {
	order: 4;
}
.Ability.intelligence {
	order: 5;
}
.Ability.charisma {
	order: 6;
}


.abilityChip {
	height: 35px;
	margin: 5px !important;
}

.Lists {
  display: flex;
}

.Lists .container{
  justify-content: space-around;
  margin: 0px 20px;
}

.EntityIcons, .EntityPowers, .EntityWeapons{
  border: 2px solid #00bcd4;
}

.icon {
  background-repeat: no-repeat !important;
  background-size: 40px ;
}

.icon_power_class {
  background-repeat: no-repeat !important;
  background-size: 20px ;
}

.icon.kobold {
	background-image: url(../img/kobold.png);

}

.icon.goblin {
	background-image: url(../img/goblin.png);
}

.icon.skeleton {
	background-image: url(../img/skeleton.png);
}

.icon.zombie {
	background-image: url(../img/zombie.png);
}

.icon.critter {
	background-image: url(../img/beetle.png);
}

.icon.bat {
	background-image: url(../img/bat.png);
}

.icon.rat {
	background-image: url(../img/rat.png);
}

.icon.wolf {
	background-image: url(../img/wolf.png);
}

.icon.bear {
	background-image: url(../img/bear.png);	
}

.icon.ranger {
	background-image: url(../img/ranger.png);
}

.icon.cleric {
	background-image: url(../img/cleric.png);
}

.icon.warlock {
	background-image: url(../img/warlock.png);
}

.icon.wizard {
	background-image: url(../img/wizard.png);
}

.icon.fighter {
	background-image: url(../img/fighter.png);
}

.icon.weapon_melee {
	background-image: url(../img/weapon_melee.png);
}

.icon.weapon_ranged {
	background-image: url(../img/weapon_ranged.png);
}

.icon.weapon_both {
	background-image: url(../img/weapon_both.png);
}